<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Composedemo"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Composedemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".component.TextActivity"
            android:exported="true" />

        <activity
            android:name=".component.ImageActivity"
            android:exported="true" />
        <activity
            android:name=".component.ButtonActivity"
            android:exported="true" />
        <activity
            android:name=".component.TextFieldActivity"
            android:exported="true" />

        <activity
            android:name=".component.IconActivity"
            android:exported="true" />
        <activity
            android:name=".component.IconButtonActivity"
            android:exported="true" />
        <activity
            android:name=".component.DialogActivity"
            android:exported="true" />
        <activity
            android:name=".component.CardActivity"
            android:exported="true" />
        <activity
            android:name=".component.SliderActivity"
            android:exported="true" />
        <activity
            android:name=".component.FloatingActionButtonActivity"
            android:exported="true" />
        <activity
            android:name=".condenser.BoxActivity"
            android:exported="true" />
        <activity
            android:name=".condenser.RowActivity"
            android:exported="true" />
        <activity
            android:name=".condenser.ColumnActivity"
            android:exported="true" />
        <activity
            android:name=".condenser.FlowRowActivity"
            android:exported="true" />
        <activity
            android:name=".condenser.ScaffoldRowActivity"
            android:exported="true" />

        <activity
            android:name=".condenser.SurfaceRowActivity"
            android:exported="true" />
        <activity
            android:name=".condenser.SpacerActivity"
            android:exported="true" />
        <activity
            android:name=".condenser.TopAppBarActivity"
            android:exported="true" />
        <activity
            android:name=".condenser.BottomNavigationActivity"
            android:exported="true" />
        <activity
            android:name=".condenser.ModalBottomActivity"
            android:exported="true" />
        <activity
            android:name=".condenser.PagerActivity"
            android:exported="true" />

        <activity android:name=".animation.AnimationVisibilityActivity" />
        <activity android:name=".animation.AnimateContentSizeActivity" />
        <activity android:name=".animation.CrossfadeActivity" />
        <activity android:name=".animation.AsStateActivity" />
        <activity android:name=".animation.AnimatableActivity" />
        <activity android:name=".animation.UpdateTransitionActivity" />
        <activity android:name=".animation.RememberInfiniteTransitionActivity" />
        <activity android:name=".animation.AnimationActivity" />
        <activity android:name=".gesture.ClickableActivity" />


    </application>

</manifest>